<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aligncenter">
                    <h2 class="aligncenter">THE 7 LAWS</h2>
                    <p>The Seven Noahide Laws are basic commandments which contain the fundamental values that ensure a healthy and moral life. Mankind is a multi-faceted society comprised of many different cultures, but united in the belief in One Supreme Being and these seven laws as the secret to human existence.</p>
                </div>
                <br/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 info-blocks">
                
                <fa-icon class="icon-info-blocks" [icon]="faHandPointUpIcon"></fa-icon>
                <div class="info-blocks-in">
                    <h3>BELIEF IN ONE G-D</h3>
                    <p>Every person should believe in the existence of the one and only Creator of the universe.</p>
                    <!-- <a href ui-sref="article({number: 1})">Read More</a> -->
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <fa-icon class="icon-info-blocks" [icon]="handshakeIcon"></fa-icon>
                <div class="info-blocks-in">
                    <h3>RESPECT G-D</h3>
                    <p>Each person has to give respect to the Creator of the universe, who granted him life and a world in which to live.</p>
                    <!-- <a href ui-sref="article({number: 2})">Read More</a>                     -->
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-heartbeat"></i>
                <div class="info-blocks-in">
                    <h3>RESPECT LIFE</h3>
                    <p>One who kills a soul it is considered as though he has murdered an entire world and harmed the Creator in whose image he was created.</p>
                    <!-- <a href ui-sref="article({number: 3})">Read More</a> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 info-blocks">
                <fa-icon class="icon-info-blocks" [icon]="buildingIcon"></fa-icon>
                <div class="info-blocks-in">
                    <h3>RESPECT HUMAN PROPERTY</h3>
                    <p>G-d has granted each person ownership over his money and possessions, and no one is permitted to take them away from him.</p>
                    <!-- <a href ui-sref="article({number: 4})">Read More</a> -->
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <fa-icon class="icon-info-blocks" [icon]="homeIcon"></fa-icon>
                <div class="info-blocks-in">
                    <h3>RESPECT MARRIAGE</h3>
                    <p>G-d originally created the man and the woman as one unit, and then divided them to two separate entities, who are in need of each other in order to reach completeness.</p>
                    <!-- <a href ui-sref="article({number: 5})">Read More</a> -->
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-paw"></i>
                <div class="info-blocks-in">
                    <h3>RESPECT ANIMALS</h3>
                    <p>G-d created living creatures in the world, and we must respect their existence. As opposed to flora, which is renewed continuously, harm to animals is irreversible.</p>
                    <!-- <a href ui-sref="article({number: 6})">Read More</a> -->
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-balance-scale"></i>
                <div class="info-blocks-in">
                    <h3>A COURT SYSTEM</h3>
                    <p>Courts of justice should be established in every city (or zone), with judges who will make decisions with regard these commandments and have the authority to punish those who transgress them.</p>
                    <!-- <a href ui-sref="article({number: 7})">Read More</a> -->
                </div>
            </div>
        </div>
    </div>
</section>