
.info-blocks .info-blocks-in {
    padding: 0 10px;
    overflow: hidden;
}

.info-blocks .info-blocks-in h3 {
    color: #062277 /*002e5b*/;
    font-size: 18px;
    line-height: 28px;
    margin: 0px;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.info-blocks .info-blocks-in p {
    font-size: 14px;
}