<div class="topbar navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 longLive">
            <img class="pull-right" src="../../../assets/img/flag.png" height="20px">
                <span>Long live our master, teacher and Rebbe, King Moshiach, forever!</span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="logoBg">
        <img class="logoImg" src="../../../assets/img/logo.png" alt="logo" />
    </div>
</div>