<section class="section-padding gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>THE REBBE SHLITA</h2>
                    <p>Everyone has the possibility to contact; The Rebbe advises his own way. At any given moment, anyone can write a letter to the Rebbe and ask for an advice or for a blessing.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="about-text">
                    <p>The Lubavitcher Rebbe's inspiration encourages us to spread the Seven Noahide Laws throughout the world. Its objective: to add values of justice, honesty and peace to the world. In the writings of our Sage, the Rambam, "Moses our Teacher received the commandment from G-d to encourage the observance of these basic laws by all of humanity so that they may come to keep the commandments that Noah was instructed to observe".</p>

                    <ul class="withArrow">
                        <li>
                            <span class="fa fa-angle-right"></span>
                            Without hunger
                        </li>
                        <li>
                            <span class="fa fa-angle-right"></span>
                            Without wars
                        </li>
                        <li>
                            <span class="fa fa-angle-right"></span>
                            Without competition
                        </li>
                        <li>
                            <span class="fa fa-angle-right"></span>
                            A world of peace
                        </li>
                    </ul>
                    <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-image">
                    <img src="../../../assets/img/rebbe.png" alt="The Rebbe">
                </div>
            </div>
        </div>
    </div>
</section>